profiles{
    standard {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'io_limited_local' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'io_mem' {
                cpus = 1
                memory = 16.GB
            }
            withLabel: 'multithread' {
                cpus = 4
                memory = 16.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 32.GB
            }
        }
        docker {
            enabled = true
        }
    } // end standard profile
    hybrid {  // start hybrid profile combining local and awsbatch
        process {
            withLabel: 'io_limited' {
                cpus = 1
                memory = 4.GB
                executor = 'awsbatch'
            }
            withLabel: 'io_limited_local' {
                cpus = 1
                memory = 4.GB
                executor = 'local'
                docker.enabled = true
            }
            withLabel: 'io_mem' {
                cpus = 1
                memory = 16.GB
                executor = 'awsbatch'
            }
            withLabel: 'multithread' {
                cpus = 4
                memory = 16.GB
                executor = 'awsbatch'
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 32.GB
                executor = 'awsbatch'
            }
        }
    } // end hybrid profile
}
